body {
    font-family: 'Noto Sans', sans-serif;
    /* background-color: #f1f1f1; */
    background: linear-gradient(to bottom,#f1f1f1,#a1a1a1);
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #2B6EB9;
}

li a.active {
    background-color: #1764BA;
}

.container {
    width: 900px;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid #999;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    background-color: #E5E5E5;
}

.card {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 20 50 50 50;
    margin-top: 30px;
    background: white;
}

.title {
    margin-top: 20px;
    margin-bottom: 25px;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

figure img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

figure figcaption {
    display: block;
    font-size: 10px;
    text-align: center;
    padding: 10px;
}